@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: relative;
  height: 100%;
  width: 100%;
}
#geomTypeControl {
  top: 0.5em;
  right: 0.5em;
}
.custom-mouse-position {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font: 10px sans-serif;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5)
}